/* CSS Document */
.no-print{
	display:none	
}

 p{
	width:500px !important; display:inline;  
}
.title{
style="font-size:18px;"
}
.title1{
style="font-size:18px;"
display:inline;
}
 .title2{
display:inline; font-size:22px; 
}
.product_name{
	float:left;
}
.product_description{
float:left; margin-top:5px;
}
  
.feature_desc{
width:60%; 
}
.heading-feature{
color:#09F; margin:10px;
}
.feature_img{
width:25%;
}
/*.main_div{
width:900px !important;	
}
.editable_html{
	width:860px !important;
}

.top{
	width:860px !important;
}*/

.heading_color{
	color:#09F;
}

.pdf_header{
	
}
.first_left_block{
 width:60%;

}
.first_right_block{
 width:25%;
}
 /*#page_1 {position:relative; overflow: hidden;margin: 23px 0px 30px 23px;padding: 0px;border: none;width: 771px;height: 1070px;}

#page_1 #dimg1 {position:absolute;top:0px;left:0px;z-index:-1;width:745px;height:1070px;}
#page_1 #dimg1 #img1 {width:745px;height:1070px;}




#page_2 {position:relative; overflow: hidden;margin: 27px 0px 30px 24px;padding: 0px;border: none;width: 770px;height: 1066px;}*/
#page_2 #id_1 {border:none;margin: 12px 0px 0px 62px;padding: 0px;border:none;width: 708px;overflow: hidden;}
#page_2 #id_2 {border:none;margin: 390px 0px 0px 105px;padding: 0px;border:none;width: 665px;overflow: hidden;}

/*#page_2 #dimg1 {position:absolute;top:0px;left:0px;z-index:-1;width:744px;height:1066px;}
#page_2 #dimg1 #img1 {width:744px;height:1066px;}




#page_3 {position:relative; overflow: hidden;margin: 25px 0px 30px 23px;padding: 0px;border: none;width: 771px;height: 1068px;}*/
#page_3 #id_1 {border:none;margin: 77px 0px 0px 232px;padding: 0px;border:none;width: 639px;overflow: hidden;}
#page_3 #id_2 {border:none;margin: 148px 0px 0px 107px;padding: 0px;border:none;width: 764px;overflow: hidden;}

/*#page_3 #dimg1 {position:absolute;top:0px;left:0px;z-index:-1;width:747px;height:1068px;}
#page_3 #dimg1 #img1 {width:747px;height:1068px;}




#page_4 {position:relative; overflow: hidden;margin: 25px 0px 30px 23px;padding: 0px;border: none;width: 771px;height: 1068px;}*/
#page_4 #id_1 {border:none;margin: 77px 0px 0px 232px;padding: 0px;border:none;width: 639px;overflow: hidden;}
#page_4 #id_2 {border:none;margin: 256px 0px 0px 107px;padding: 0px;border:none;width: 764px;overflow: hidden;}

/*#page_4 #dimg1 {position:absolute;top:0px;left:0px;z-index:-1;width:747px;height:1068px;}
#page_4 #dimg1 #img1 {width:747px;height:1068px;}




#page_5 {position:relative; overflow: hidden;margin: 25px 0px 30px 24px;padding: 0px;border: none;width: 770px;height: 1068px;}*/
#page_5 #id_1 {border:none;margin: 77px 0px 0px 231px;padding: 0px;border:none;width: 639px;overflow: hidden;}
#page_5 #id_2 {border:none;margin: 296px 0px 0px 106px;padding: 0px;border:none;width: 764px;overflow: hidden;}

/*#page_5 #dimg1 {position:absolute;top:0px;left:0px;z-index:-1;width:746px;height:1068px;}
#page_5 #dimg1 #img1 {width:746px;height:1068px;}




#page_6 {position:relative; overflow: hidden;margin: 25px 0px 30px 24px;padding: 0px;border: none;width: 770px;height: 1068px;}*/
#page_6 #id_1 {border:none;margin: 77px 0px 0px 232px;padding: 0px;border:none;width: 638px;overflow: hidden;}
#page_6 #id_2 {border:none;margin: 21px 0px 0px 231px;padding: 0px;border:none;width: 639px;overflow: hidden;}
#page_6 #id_3 {border:none;margin: 695px 0px 0px 106px;padding: 0px;border:none;width: 764px;overflow: hidden;}

/*#page_6 #dimg1 {position:absolute;top:0px;left:0px;z-index:-1;width:746px;height:1068px;}
#page_6 #dimg1 #img1 {width:746px;height:1068px;}*/




.dclr {clear:both;float:none;height:1px;margin:0px;padding:0px;overflow:hidden;}

.ft0{font: 15px 'Calibri';line-height: 18px;}
.ft1{font: bold 13px 'Arial';line-height: 16px;}
.ft2{font: 13px 'Arial';line-height: 16px;}
.ft3{font: bold 13px 'Arial';line-height: 17px;}
.ft4{font: 15px 'Wingdings';color: #ff0000;line-height: 16px;}
.ft5{font: 13px 'Arial';margin-left: 18px;line-height: 16px;}
.ft6{font: italic bold 13px 'Arial';color: #354c57;line-height: 16px;}
.ft7{font: italic bold 13px 'Arial';color: #29aae2;line-height: 16px;}
.ft8{font: 11px 'Arial';line-height: 14px;}
.ft9{font: italic bold 19px 'Arial';color: #3366ff;line-height: 23px;}
.ft10{font: bold 16px 'Arial Black';color: #0070c0;line-height: 20px;text-decoration: underline; margin-top:20px;}
.ft11{font: bold 16px 'Arial Black';color: #ff0000;line-height: 13px;}
.ft12{font: bold 13px 'Arial Black';color: #00b0f0;line-height: 13px;}
.ft13{font: 12px 'Arial';line-height: 15px;}
.ft14{font: bold 13px 'Arial Black';color: #0070c0;line-height: 18px;position: relative; bottom: 3px;}
.ft15{font: 13px 'Symbol';line-height: 16px;}
.ft16{font: bold 13px 'Arial';margin-left: 13px;line-height: 0px;}
.ft17{font: bold 15px 'Arial';color: #4f81bd;}
.ft18{font: 16px 'Wingdings';color: #ff0000;line-height: 17px;position: relative; bottom: 3px;}
.ft19{font: 14px 'Wingdings';color: #ff0000;line-height: 15px;}
.ft20{font: 13px 'Arial';margin-left: 10px;line-height: 6px;}
.ft21{font: 13px 'Arial';margin-left: 10px;line-height: 17px;}
.ft22{font: 13px 'Arial';line-height: 17px;}
.ft23{font: bold 19px 'Calibri';color: #ffffff;line-height: 23px;}
.ft24{font: bold 19px 'Arial';color: #364b56;line-height: 22px;}
.ft25{font: bold 13px 'Arial';color: #364b56;line-height: 16px;}
.ft26{font: 13px 'Arial';margin-left: 3px;line-height: 16px;}

.p0{text-align: right;padding-left: 572px;padding-right: 65px;margin-top: 62px;margin-bottom: 0px;}
.p1{text-align: left;padding-left: 489px;margin-top: 6px;margin-bottom: 0px;}
.p2{text-align: left;padding-left: 63px;margin-top: 82px;margin-bottom: 0px;}
.p3{text-align: left;padding-left: 63px;margin-top: 2px;margin-bottom: 0px;}
.p4{text-align: left;padding-left: 107px;padding-right: 558px;margin-top: 23px;margin-bottom: 0px;text-indent: -43px;}
.p5{text-align: left;padding-left: 107px;padding-right: 440px;margin-top: 5px;margin-bottom: 0px;}
.p6{text-align: left;padding-left: 107px;margin-top: 7px;margin-bottom: 0px;}
.p7{text-align: left;padding-left: 63px;padding-right: 78px;margin-top: 21px;margin-bottom: 0px;}
.p8{text-align: justify;padding-left: 77px;margin-top: 29px;margin-bottom: 0px;}
.p9{text-align: justify;padding-left: 77px;margin-top: 0px;margin-bottom: 0px;}
.p10{text-align: justify;padding-left: 77px;margin-top: 0px;margin-bottom: 0px;}
.p11{text-align: left;padding-left: 63px;margin-top: 87px;margin-bottom: 0px;}
.p12{text-align: justify;padding-left: 77px;margin-top: 20px;margin-bottom: 0px;}
.p13{text-align: left;padding-left: 63px;margin-top: 5px;margin-bottom: 0px;}
.p14{text-align: left;padding-left: 63px;margin-top: 0px;margin-bottom: 0px;}
.p15{text-align: left;padding-left: 63px;margin-top: 5px;margin-bottom: 0px;}
.p16{text-align: left;padding-left: 63px;margin-top: 5px;margin-bottom: 0px;}
.p17{text-align: left;padding-left: 63px;margin-top: 43px;margin-bottom: 0px;}
.p18{text-align: left;padding-left: 64px;margin-top: 22px;margin-bottom: 0px;}
.p19{text-align: left;padding-left: 63px;margin-top: 3px;margin-bottom: 0px;}
.p20{text-align: left;padding-left: 51px;margin-top: 0px;margin-bottom: 0px;}
.p21{text-align: left;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p22{text-align: left;margin-top: 2px;margin-bottom: 0px;}
.p23{text-align: justify;padding-left: 52px;margin-top: 4px;margin-bottom: 0px;}
.p24{text-align: justify;padding-left: 52px;margin-top: 3px;margin-bottom: 0px;}
.p25{text-align: left;margin-top: 43px;margin-bottom: 0px;}
.p26{text-align: left;padding-left: 8px;margin-top: 1px;margin-bottom: 0px;}
.p27{text-align: left;margin-top: 23px;margin-bottom: 0px;}
.p28{text-align: left;margin-top: 21px;margin-bottom: 0px;}
.p29{text-align: left;margin-top: 5px;margin-bottom: 0px;}
.p30{text-align: justify;padding-left: 50px;margin-top: 1px;margin-bottom: 0px;}
.p31{text-align: justify;padding-left: 50px;margin-top: 3px;margin-bottom: 0px;}
.p32{text-align: justify;padding-left: 50px;margin-top: 6px;margin-bottom: 0px;}
.p33{text-align: justify;padding-left: 50px;margin-top: 5px;margin-bottom: 0px;}
.p34{text-align: justify;padding-left: 71px;padding-right: 97px;margin-top: 2px;margin-bottom: 0px;text-indent: -22px;}
.p35{text-align: left;margin-top: 0px;margin-bottom: 0px;}
.p36{text-align: left;padding-left: 1px;margin-top: 0px;margin-bottom: 0px;}
.p37{text-align: left;padding-left: 18px;padding-right: 118px;margin-top: 2px;margin-bottom: 0px;}
.p38{text-align: justify;padding-left: 18px;margin-top: 18px;margin-bottom: 0px;}
.p39{text-align: justify;padding-left: 18px;margin-top: 1px;margin-bottom: 0px;}
.p40{text-align: justify;padding-left: 18px;margin-top: 0px;margin-bottom: 0px;}
.p41{text-align: justify;padding-left: 18px;padding-right: 129px;margin-top: 1px;margin-bottom: 0px;}
.p42{text-align: left;padding-left: 18px;padding-right: 113px;margin-top: 1px;margin-bottom: 0px;}
.p43{text-align: justify;padding-left: 18px;padding-right: 123px;margin-top: 1px;margin-bottom: 0px;}
.p44{text-align: left;padding-left: 1px;margin-top: 180px;margin-bottom: 0px;}
.p45{text-align: left;padding-left: 18px;padding-right: 110px;margin-top: 2px;margin-bottom: 0px;}
.p46{text-align: justify;padding-left: 18px;margin-top: 35px;margin-bottom: 0px;}
.p47{text-align: justify;padding-left: 18px;padding-right: 114px;margin-top: 0px;margin-bottom: 0px;}
.p48{text-align: justify;padding-left: 18px;padding-right: 145px;margin-top: 1px;margin-bottom: 0px;}
.p49{text-align: justify;padding-left: 18px;padding-right: 118px;margin-top: 1px;margin-bottom: 0px;}
.p50{text-align: justify;padding-left: 18px;padding-right: 110px;margin-top: 2px;margin-bottom: 0px;}
.p51{text-align: justify;padding-left: 18px;margin-top: 2px;margin-bottom: 0px;}
.p52{text-align: justify;padding-left: 18px;padding-right: 151px;margin-top: 1px;margin-bottom: 0px;}
.p53{text-align: left;padding-left: 18px;padding-right: 109px;margin-top: 1px;margin-bottom: 0px;}
.p54{text-align: left;padding-left: 1px;margin-top: 263px;margin-bottom: 0px;}
.p55{text-align: left;padding-left: 18px;padding-right: 117px;margin-top: 2px;margin-bottom: 0px;}
.p56{text-align: justify;padding-left: 18px;margin-top: 3px;margin-bottom: 0px;}
.p57{text-align: justify;padding-left: 18px;padding-right: 110px;margin-top: 1px;margin-bottom: 0px;}
.p58{text-align: left;padding-left: 18px;padding-right: 132px;margin-top: 1px;margin-bottom: 0px;}
.p59{text-align: left;padding-left: 18px;padding-right: 122px;margin-top: 1px;margin-bottom: 0px;}
.p60{text-align: left;padding-left: 18px;padding-right: 123px;margin-top: 2px;margin-bottom: 0px;}
.p61{text-align: justify;padding-left: 18px;padding-right: 155px;margin-top: 2px;margin-bottom: 0px;}
.p62{text-align: justify;padding-left: 18px;padding-right: 111px;margin-top: 1px;margin-bottom: 0px;}
.p63{text-align: justify;padding-left: 18px;padding-right: 114px;margin-top: 2px;margin-bottom: 0px;}
.p64{text-align: justify;padding-left: 18px;padding-right: 153px;margin-top: 0px;margin-bottom: 0px;}
.p65{text-align: justify;padding-left: 18px;padding-right: 112px;margin-top: 1px;margin-bottom: 0px;}
.p66{text-align: justify;padding-left: 18px;padding-right: 148px;margin-top: 1px;margin-bottom: 0px;}

.td0{padding: 0px;margin: 0px;width: 150px;vertical-align: bottom;}
.td1{padding: 0px;margin: 0px;}

.tr0{height: 22px;}

.t0{width: 262px;margin-top: 21px;font: bold 13px 'Arial Black';color: #00b0f0;}

   @page :first {
        footer: none;
    }
    
.right-side {
	 z-index: 999;
  	 position: relative;
 }