<div class="first_page">
<div id="page_1">
<div class="row first_page_header">
<table>
<tbody>
<tr>
<td>
<div><img src="http://dev.ibrinfotech.com/auto_quote/uploads/docs/logo4.png" alt="" width="300px" height="100px" data-cke-saved-src="http://dev.ibrinfotech.com/auto_quote/uploads/docs/logo4.png" /></div></td>
<td>12 Ashburn Road Bundamba, QLD, 4304 Tel: +61 7 5467 2025 Fax: +61 7 5467 2026 http://www.thoroughclean.com.au/</td>
</tr>
</tbody>
</table>
</div>
<table width="80%">
<tbody>
<tr>
<td width="50%">
<p class="p2 ft2 ng-binding"><span class="ft1">Date: </span>21-04-2015</p>
<p class="p3 ft2"><span class="ft1">Quote No</span>: 150306-PS134</p>
<p class="p3 ft3 ng-binding">Attn:   pradeep sharma</p>

<table>
<tbody>
<tr>
<td></td>
</tr>
<tr>
<td>
<p class="ft2 ng-binding">d4/03 awas nagar dewas</p>
</td>
</tr>
<tr>
<td>
<p class="ft2 ng-binding">Ph: 09691228787</p>
</td>
</tr>
<tr>
<td>
<p class="ft2 ng-binding">Email: shSSSarma.pradehhep1989@gmail.comss</p>
</td>
</tr>
</tbody>
</table>
</td>
<td width="50%"></td>
</tr>
</tbody>
</table>
<table cellpadding="20">
<tbody>
<tr>
<td class="ng-binding">Thank you for choosing a ThoroughClean product to assist with your Water Blaster requirements. Based on the information you have supplied, the following points are a summary of your requirements to ensure you receive the correct ThoroughClean Water Blaster to meet your purpose.</td>
</tr>
</tbody>
</table>
<table cellspacing="0">
<tbody>
<tr>
<td width="10%">√</td>
<td width="90%">Maximum pressure 3600 PSI @ 15LPM</td>
</tr>
<tr>
<td width="10%">√</td>
<td width="90%">30m of included hose</td>
</tr>
<tr>
<td width="10%">√</td>
<td width="90%">Machine to shut down automatically when water supply is interrupted</td>
</tr>
<tr>
<td colspan="2">In addition to your requirements, ThoroughClean also offers</td>
</tr>
<tr>
<td width="10%">√</td>
<td width="90%">Unrivalled whole of life value</td>
</tr>
<tr>
<td width="10%">√</td>
<td width="90%">Personalised pre and post-sale Service</td>
</tr>
<tr>
<td width="10%">√</td>
<td width="90%">Service technicians available at your disposal</td>
</tr>
<tr>
<td width="10%">√</td>
<td width="90%">Maintenance spares, service and technical advice</td>
</tr>
<tr>
<td width="10%">√</td>
<td width="90%">Operator training available</td>
</tr>
</tbody>
</table>
<table cellpadding="1">
<tbody>
<tr>
<td><span class="ft6 ng-binding">ThoroughClean </span>Water Blasters are designed and Built for Australian conditions to Australian standards</td>
</tr>
<tr>
<td>We are pleased to submit the following proposal for your consideration.</td>
</tr>
<tr>
<td>I trust we have met your requirements, however please do not hesitate to call me if you have any questions.</td>
</tr>
</tbody>
</table>
<table cellpadding="5" align="left">
<tbody>
<tr>
<td>Kind Regards</td>
</tr>
<tr>
<td>
<p class="ft9 ng-binding">Stephan   Muller</p>
</td>
</tr>
<tr>
<td class="ng-binding">PH: / MOB:</td>
</tr>
<tr>
<td class="ng-binding">Email: stephan@thoroughclean.com.au</td>
</tr>
</tbody>
</table>
</div>
</div>
<div id="other_pages">
<div id="page_2">
<div class="dclr"></div>
<div id="id_1">
<div class="ng-scope">
<table>
<tbody>
<tr>
<td width="65%">
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td>
<p class="p20 ft10">D61M-72C-S</p>
</td>
</tr>
<tr>
<td class="td0">
<p class="p21 ft12">INVESTMENT:   <span class="ft11 ng-binding">$1       </span>plus GST</p>
</td>
</tr>
<tr>
<td>
<p class="p22 ft1"><span class="ft14">Product:   </span>D61M-72C-S Rental Spec:</p>
</td>
</tr>
<tr>
<td>
<p class="ft1">•  <span class="ft16">13 HP Petrol engine</span></p>
</td>
</tr>
<tr>
<td>
<p class="ft1">•  <span class="ft16 ng-binding">Pump rated to 7250 PSI @ 30 LPM</span></p>
</td>
</tr>
<tr>
<td>
<p class="ft1">•  <span class="ft16 ng-binding">Pump set to 7000 PSI @ 41 LPM</span></p>
</td>
</tr>
<tr>
<td>
<p class="ft1">•  <span class="ft16 ng-binding">Water Temprature-Cold water only configuration</span></p>
</td>
</tr>
<tr>
<td>
<p class="ft1">•  <span class="ft16 ng-binding">Size: 121 x 140 x 155 (cm)</span></p>
</td>
</tr>
<tr>
<td>
<p class="ft1">•  <span class="ft16 ng-binding">Weight: 920kg</span></p>
</td>
</tr>
<tr>
<td>
<p class="ft1">•  <span class="ft16 ng-binding">Installation Cost:</span></p>
</td>
</tr>
<tr>
<td>
<p class="ft1">•  <span class="ft16 ng-binding">Freight:</span></p>
</td>
</tr>
</tbody>
</table>
</td>
<td width="30%">
<div class="ng-scope"><img src="http://dev.ibrinfotech.com/auto_quote/uploads/product_image/Tulips7.jpg" alt="" data-cke-saved-src="http://dev.ibrinfotech.com/auto_quote/uploads/product_image/Tulips7.jpg" /></div></td>
</tr>
</tbody>
</table>
</div>
<table cellspacing="1" cellpadding="1">
<tbody>
<tr>
<td>
<p class="p25 ft17">Freight</p>
</td>
</tr>
<tr>
<td colspan="2">√  To be confirmed Ex-Bundamba Qld</td>
</tr>
<tr>
<td>
<p class="p25 ft17">Availability</p>
</td>
</tr>
<tr>
<td colspan="2">√  Ex-stock</td>
</tr>
<tr>
<td>
<p class="ft17">Proposed Delivery Date:</p>
</td>
<td>TBC</td>
</tr>
<tr>
<td>
<p class="ft17">Quote Validity:</p>
</td>
<td>30 days</td>
</tr>
<tr>
<td><span class="ft17">Payment Terms:</span></td>
<td>Payment required prior to shipping</td>
</tr>
<tr>
<td><span class="ft17">Warranties:</span></td>
<td>(Ex-Factory / Reseller Premises)</td>
</tr>
<tr>
<td>√</td>
<td>1 year ThoroughClean Manufacturer’s Warranty on build</td>
</tr>
<tr>
<td>√</td>
<td>5 year ThoroughClean Manufacturer’s Structural Warranty on Galvanized frames &amp; Reel</td>
</tr>
<tr>
<td>√</td>
<td>2-years Manufacturer’s Warranty on Electric Motors</td>
</tr>
<tr>
<td>√</td>
<td>3-years or 2000 hours Manufacturer’s Warranty on all Petrol and Diesel Engines</td>
</tr>
<tr>
<td>√</td>
<td>12 months Warranty on Pressure Pump (Maintenance is not warranty. Excludes service and consumables required at specified maintenance intervals.)</td>
</tr>
</tbody>
</table>
</div>
</div>
<table border="0" width="100%" cellspacing="5" cellpadding="10">
<tbody>
<tr>
<td colspan="2">
<p class="ft24">Boiler</p>
</td>
</tr>
<tr>
<td colspan="2">

<hr />

</td>
</tr>
<tr>
<td width="30%"><img src="http://dev.ibrinfotech.com/auto_quote/uploads/title_image/Lighthouse1.jpg" alt="" data-cke-saved-src="http://dev.ibrinfotech.com/auto_quote/uploads/title_image/Lighthouse1.jpg" /></td>
<td width="65%">
<p class="p28 ft25">Features &amp; Benefits:</p>
<p id="feature_" class="p37">• Super Heavy duty horizontal diesel boiler with 1/2" mild steel coils, set to 70°C
• The ½” coils have a longer life and has a much reduced rate of scaling up &amp; blockages – compared to 3/8” coils.
• Fitted with a fuel tap and heavy duty industrial CAV296 fuel filter keeping fuel injectors from blocking up.</p>
</td>
</tr>
</tbody>
</table>
<table border="0" width="100%" cellspacing="5" cellpadding="10">
<tbody>
<tr>
<td colspan="2">
<p class="ft24">Specification</p>
</td>
</tr>
<tr>
<td colspan="2">

<hr />

</td>
</tr>
<tr>
<td width="30%"><img src="http://dev.ibrinfotech.com/auto_quote/uploads/title_image/spec1.jpg" alt="" data-cke-saved-src="http://dev.ibrinfotech.com/auto_quote/uploads/title_image/spec1.jpg" /></td>
<td width="65%">
<p class="p28 ft25">Features &amp; Benefits:</p>
<p id="feature_" class="p37">• LubeBuddy will keep the pump well lubricated and prevent oil starvation of the pump
• Heavy duty galvanised hose reel with a capacity up of to 50m of high pressure hose, integrated into the frame.
• Automatic low water level shut down.
• Star-Delta Soft Starter
• Designed to meet AS/NZS4233:2</p>
</td>
</tr>
</tbody>
</table>
<table border="0" width="100%" cellspacing="5" cellpadding="10">
<tbody>
<tr>
<td colspan="2">
<p class="ft24">Water Tank</p>
</td>
</tr>
<tr>
<td colspan="2">

<hr />

</td>
</tr>
<tr>
<td width="30%"><img src="http://dev.ibrinfotech.com/auto_quote/uploads/title_image/water3.jpg" alt="" data-cke-saved-src="http://dev.ibrinfotech.com/auto_quote/uploads/title_image/water3.jpg" /></td>
<td width="65%">
<p class="p28 ft25">Features &amp; Benefits:</p>
<p id="feature_" class="p37">• 1000L White IBC water tank with float switch to shut motor down on low water supply, protects the pump against dry running and extends pump life to the maximum.
• Creates a water buffer at start-up when water supply hoses are often empty.
• By-pass valve diverts water back into tank during by-pass – so water does not heat up during by-pass mode.</p>
</td>
</tr>
</tbody>
</table>
<table border="0" width="100%" cellspacing="5" cellpadding="10">
<tbody>
<tr>
<td colspan="2">
<p class="ft24">By-Pass</p>
</td>
</tr>
<tr>
<td colspan="2">

<hr />

</td>
</tr>
<tr>
<td width="30%"><img src="http://dev.ibrinfotech.com/auto_quote/uploads/title_image/ByPassValve1.png" alt="" data-cke-saved-src="http://dev.ibrinfotech.com/auto_quote/uploads/title_image/ByPassValve1.png" /></td>
<td width="65%">
<p class="p28 ft25">Features &amp; Benefits:</p>
<p id="feature_" class="p37">• Features an Italian made bypass valve
• Soft acting By-pass valve, which means the pressure comes on gradually – no kick-back on the gun when you pull the trigger. This makes it safe and seals last longer.
• Zero pressure stored in hose when trigger is released or unit is switched off. This unique feature makes it safe, and again less wear and tear on by-pass valve, hose and gun seals.
• By-pass valve is frame mounted not hanging off the pump where it amplifies vibration causing extra stress on the gearbox and drive shafts.</p>
</td>
</tr>
</tbody>
</table>
</div>