
                  <!--<table style="background:url('http://localhost/auto_quote/images/new_footer.jpg'); background-repeat:no-repeat;">
                  
                            <tr>
                            <td width="40%">  </td>
                                 <td width="40%" style="text-align:right; height:180px;"><div ng-if="company_data.logo"><img ng-src="http://localhost/auto_quote/uploads/docs/{{company_data.logo}}" width="150px"  height="70px" /></div></td>
                           </tr>
                   </table>-->
                <img src="http://localhost/auto_quote/images/new_footer.jpg" width="100%"> 
               
                <!-- <div style="width:100%; height:20px; background-color:#8BCFF2;">
<h3 style=" text-align:center;">Company Description</h3> 
</div> -->
                   