

<table style="background:url('http://localhost/auto_quote/images/new_header.jpg'); background-repeat:no-repeat; width:95%; height:100%;">
<tbody><tr>

<td style="height:150px;"><div style="margin-left:30px; background:url(''); width:100%; height:150px; background-repeat:no-repeat;  background-position: center; ">

<img ng-src="http://localhost/auto_quote/uploads/docs/logo4.png" width="300px" height="100px" style="z-index:-11111;margin-left:35px;" src="http://localhost/auto_quote/uploads/docs/logo4.png">
 
</div></td>
<td style="text-align:right; width:100px; height:auto;">
 12 Ashburn Road
Bundamba, QLD, 4304
Tel: +61 7 5467 2025
Fax: +61 7 5467 2026
http://www.thoroughclean.com.au/ </td>
</tr>
</tbody></table>
