<style type="text/css"> .first_page_header{display:none;} </style><style type="text/css">body{
overflow-x:hidden;
}
</style>
<section class="content ng-scope" id="editable_html" ng-app="editable" style="margin-left:20px;">
<div class="row top ng-scope" ng-controller="EditableCtrl" ng-init="init(quots_data,companies_data,product_features,product_datas,addons_data)"><input id="customer_id" name="customer_id" type="hidden" value="6" /> <input id="quote_id" name="quote_id" type="hidden" value="135" /> <input id="customer_name" name="customer_name" type="hidden" value="pradeepsharma" /> <input id="customer_email" name="customer_email" type="hidden" value="shSSSarma.pradehhep1989@gmail.comss" /> <!-- header of quote pdf (contains company logo) --->
<div class="row pdf_header" style="display:none">
<table style="background:url('http://localhost/auto_quote/images/new_header.jpg'); background-repeat:no-repeat; width:100%; margin-right:0px;">
	<tbody>
		<tr>
			<td width="40%">&nbsp;</td>
			<td style="text-align:right; height:180px;" width="40%"><!-- ngIf: company_data.logo -->
			<div class="ng-scope" ng-if="company_data.logo"><img height="80px" ng-src="http://localhost/auto_quote/uploads/docs/logo4.png" src="http://localhost/auto_quote/uploads/docs/logo4.png" style="margin-top:-70px; margin-left:40px;" width="250px" /></div>
			<!-- end ngIf: company_data.logo --></td>
		</tr>
	</tbody>
</table>
<!-- <hr style="border:1px #ccc solid;"/> --></div>
<!-- end of header of quote pdf (contains company logo) ---> <!-- footer of quote pdf (contains company logo) --->

<div class="row pdf_footer" style="display:none"><!--<table style="background:url('http://localhost/auto_quote/images/new_footer.jpg'); background-repeat:no-repeat;">
                  
                            <tr>
                            <td width="40%">  </td>
                                 <td width="40%" style="text-align:right; height:180px;"><div ng-if="company_data.logo"><img ng-src="http://localhost/auto_quote/uploads/docs/{{company_data.logo}}" width="150px"  height="70px" /></div></td>
                           </tr>
                   </table>--><img src="http://localhost/auto_quote/images/new_footer.jpg" width="100%" />
<table style="height:100px; width:100%; background-color:#8BCFF2; margin-top:-50px; margin-bottom:20px;">
	<tbody>
		<tr>
			<td style="text-align:center; color:#fff">
			<p class="ng-binding" style="text-align:center; bachground-color:#8BCFF2;">ThoroughClean</p>
			</td>
		</tr>
	</tbody>
</table>
<!-- <div style="width:100%; height:20px; background-color:#8BCFF2;">
<h3 style=" text-align:center;">Company Description</h3> 
</div> --></div>
<!-- end of foote of quote pdf (contains company logo) ---> <!-- footer of first page of quote pdf (contains company logo) --->

<div class="row first_page_footer" style="display:none"><!--<table style="background:url('http://localhost/auto_quote/images/new_footer.jpg'); background-repeat:no-repeat;">
                  
                            <tr>
                            <td width="40%">  </td>
                                 <td width="40%" style="text-align:right; height:180px;"><div ng-if="company_data.logo"><img ng-src="http://localhost/auto_quote/uploads/docs/{{company_data.logo}}" width="150px"  height="70px" /></div></td>
                           </tr>
                   </table>--><img src="http://localhost/auto_quote/images/new_footer.jpg" width="100%" /> <!-- <div style="width:100%; height:20px; background-color:#8BCFF2;">
<h3 style=" text-align:center;">Company Description</h3> 
</div> --></div>
<!-- end of foote of first page of quote pdf (contains company logo) ---> <!-- right side of pdf contains company details --->

<div class="first_page">
<div id="page_1">
<div class="row first_page_header">
<table style="background:url('http://localhost/auto_quote/images/new_header.jpg'); background-repeat:no-repeat; width:95%; height:100%;">
	<tbody>
		<tr>
			<td style="height:150px;">
			<div style="margin-left:30px; background:url(''); width:100%; height:150px; background-repeat:no-repeat;  background-position: center; "><img height="100px" ng-src="http://localhost/auto_quote/uploads/docs/logo4.png" src="http://localhost/auto_quote/uploads/docs/logo4.png" style="z-index:-11111;margin-left:35px;" width="300px" /></div>
			</td>
			<td style="text-align:right; width:100px; height:auto;">12 Ashburn Road Bundamba, QLD, 4304 Tel: +61 7 5467 2025 Fax: +61 7 5467 2026 http://www.thoroughclean.com.au/</td>
		</tr>
	</tbody>
</table>
</div>
&nbsp;

<table style="margin-left:30px; margin-top:70px;" width="80%">
	<tbody>
		<tr>
			<td width="50%">
			<p class="p2 ft2 ng-binding" style="display:block; padding-top:0px; margin-top:0px;"><span class="ft1">Date: </span> 21-04-2015</p>

			<p class="p3 ft2" style="display:block;"><span class="ft1">Quote No</span>: <nobr class="ng-binding">150306-PS135</nobr></p>
			&nbsp;

			<p class="p3 ft3 ng-binding" style="display:block;">Attn: &nbsp; pradeep&nbsp;sharma</p>

			<table>
				<tbody>
					<tr>
						<td style="padding-left:40px !important;">
						<p class="ft3" style="display:block; padding-left:60px !important;">&nbsp;</p>
						</td>
					</tr>
					<tr>
						<td style="padding-left:40px !important;">
						<p class="ft2 ng-binding" style="display:block; padding-left:60px !important;">d4/03 awas nagar dewas</p>
						</td>
					</tr>
					<tr>
						<td style="padding-left:40px !important;">
						<p class="ft2 ng-binding" style="display:block; padding-left:60px !important;">Ph: 09691228787</p>
						</td>
					</tr>
					<tr>
						<td style="padding-left:40px !important;">
						<p class="ft2 ng-binding" style="display:block; padding-left:60px !important;">Email: shSSSarma.pradehhep1989@gmail.comss</p>
						</td>
					</tr>
				</tbody>
			</table>
			</td>
			<td style="text-align:right;" width="50%">&nbsp;</td>
		</tr>
	</tbody>
</table>
<!-- right side of pdf contains company details --->

<table cellpadding="20" style="">
	<tbody>
		<tr>
			<td class="ng-binding" style="font:13px 'Arial' !important; padding-left:35px;">Thank you for choosing a ThoroughClean product to assist with your Water Blaster requirements. Based on the information you have supplied, the following points are a summary of your requirements to ensure you receive the correct ThoroughClean Water Blaster to meet your purpose.</td>
		</tr>
	</tbody>
</table>

<table cellspacing="0">
	<tbody>
		<tr>
			<td style="text-align:right; color:red; font:bold; padding-left:77px;" width="10%">&radic;</td>
			<td style="padding-left:10px; font:13px 'Arial' !important ;" width="90%">Maximum pressure 3600 PSI @ 15LPM</td>
		</tr>
		<tr>
			<td style="text-align:right; color:red; padding-left:77px;" width="10%">&radic;</td>
			<td style="padding-left:10px; font:13px 'Arial' !important;" width="90%">30m of included hose</td>
		</tr>
		<tr>
			<td style="text-align:right; color:red; padding-left:77px;" width="10%">&radic;</td>
			<td style="padding-left:10px; font:13px 'Arial' !important;" width="90%">Machine to shut down automatically when water supply is interrupted</td>
		</tr>
		<tr>
			<td colspan="2" style="padding-left:35px; font:13px 'Arial' !important;">In addition to your requirements, ThoroughClean also offers</td>
		</tr>
		<tr>
			<td style="text-align:right; color:red; padding-left:77px;" width="10%">&radic;</td>
			<td style="padding-left:10px; font:13px 'Arial' !important;" width="90%">Unrivalled whole of life value</td>
		</tr>
		<tr>
			<td style="text-align:right; color:red; padding-left:77px;" width="10%">&radic;</td>
			<td style="padding-left:10px; font:13px 'Arial' !important;" width="90%">Personalised pre and <nobr>post-sale</nobr> Service</td>
		</tr>
		<tr>
			<td style="text-align:right; color:red; padding-left:77px;" width="10%">&radic;</td>
			<td style="padding-left:10px; font:13px 'Arial' !important;" width="90%">Service technicians available at your disposal</td>
		</tr>
		<tr>
			<td style="text-align:right; color:red; padding-left:77px;" width="10%">&radic;</td>
			<td style="padding-left:10px; font:13px 'Arial' !important;" width="90%">Maintenance spares, service and technical advice</td>
		</tr>
		<tr>
			<td style="text-align:right; color:red; padding-left:77px;" width="10%">&radic;</td>
			<td style="padding-left:10px; font:13px 'Arial' !important;" width="90%">Operator training available</td>
		</tr>
	</tbody>
</table>

<table cellpadding="1" style="margin-top:20px;">
	<tbody>
		<tr>
			<td style="padding-left:35px; font:13px 'Arial' !important;"><span class="ft6 ng-binding">ThoroughClean </span>Water Blasters are designed and Built for Australian conditions to Australian standards</td>
		</tr>
		<tr>
			<td style="padding-left:35px; font:13px 'Arial' !important;">We are pleased to submit the following proposal for your consideration.</td>
		</tr>
		<tr>
			<td style="padding-left:35px; font:13px 'Arial' !important;">I trust we have met your requirements, however please do not hesitate to call me if you have any questions.</td>
		</tr>
	</tbody>
</table>

<table align="left" cellpadding="5" style="margin-top:20px;">
	<tbody>
		<tr>
			<td style="padding-left:35px; font:13px 'Arial' !important;">Kind Regards</td>
		</tr>
		<tr>
			<td style="line-height:0px; padding-left:35px;">
			<p class="ft9 ng-binding">Stephan &nbsp; Muller</p>
			</td>
		</tr>
		<tr>
			<td class="ng-binding" style="line-height:0px; padding-left:35px; font:13px 'Arial' !important;">PH: / MOB:</td>
		</tr>
		<tr>
			<td class="ng-binding" style="line-height:0px; padding-left:35px; font:13px 'Arial' !important;">Email: stephan@thoroughclean.com.au</td>
		</tr>
	</tbody>
</table>
</div>
</div>
<span style="display:none;">