
                  <table style="background:url('http://localhost/auto_quote/images/new_header.jpg'); background-repeat:no-repeat; width:100%; margin-right:0px;">
                  
                            <tbody><tr>
                            <td width="40%">  </td>
                                 <td width="40%" style="text-align:right; height:180px;"><!-- ngIf: company_data.logo --><div ng-if="company_data.logo" class="ng-scope"> <img ng-src="http://localhost/auto_quote/uploads/docs/logo4.png" width="250px" height="80px" style="margin-top:-70px; margin-left:40px;" src="http://localhost/auto_quote/uploads/docs/logo4.png"></div><!-- end ngIf: company_data.logo --></td>
                           </tr>
                   </tbody></table>
                  <!-- <hr style="border:1px #ccc solid;"/> -->
                   