</span>

<div id="other_pages">
<div id="page_2">
<div class="dclr">&nbsp;</div>

<div id="id_1"><!-- products detail --><!-- ngRepeat: product_data in product_data -->
<div class="ng-scope" ng-repeat="product_data in product_data">
<table style="padding-top:\0px;">
	<tbody>
		<tr>
			<td width="65%">
			<table cellpadding="0" cellspacing="0">
				<tbody>
					<tr>
						<td>
						<p class="p20 ft10"><nobr class="ng-binding">E10I-30C </nobr></p>
						</td>
					</tr>
					<tr>
						<td class="td0" style="width:150px;">
						<p class="p21 ft12" style="display:inline;">INVESTMENT:&nbsp;&nbsp; <span class="ft11 ng-binding">$1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>plus GST</p>
						</td>
					</tr>
					<tr>
						<td>
						<p class="p22 ft1"><span class="ft14">Product:&nbsp;&nbsp; </span><nobr class="ng-binding">E10I-30C</nobr> Rental Spec:</p>
						</td>
					</tr>
					<tr>
						<td style="padding-left:60px;">
						<p class="ft1">&bull;&nbsp;&nbsp;<span class="ft16">13 HP Petrol engine</span></p>
						</td>
					</tr>
					<tr>
						<td style="padding-left:60px;">
						<p class="ft1">&bull;&nbsp;&nbsp;<span class="ft16 ng-binding">Pump rated to 3625</span></p>
						</td>
					</tr>
					<tr>
						<td style="padding-left:60px;">
						<p class="ft1">&bull;&nbsp;&nbsp;<span class="ft16 ng-binding">Pump set to 2800</span></p>
						</td>
					</tr>
					<tr>
						<td style="padding-left:60px;">
						<p class="ft1">&bull;&nbsp;&nbsp;<span class="ft16 ng-binding">Water Temprature-Cold water only configuration</span></p>
						</td>
					</tr>
					<tr>
						<td style="padding-left:60px;">
						<p class="ft1">&bull;&nbsp;&nbsp;<span class="ft16 ng-binding">Size: 95 x 80 x 80 (cm)</span></p>
						</td>
					</tr>
					<tr>
						<td style="padding-left:60px;">
						<p class="ft1">&bull;&nbsp;&nbsp;<span class="ft16 ng-binding">Weight: 155kg</span></p>
						</td>
					</tr>
					<tr>
						<td style="padding-left:60px;">
						<p class="ft1">&bull;&nbsp;&nbsp;<span class="ft16 ng-binding">Installation Cost: </span></p>
						</td>
					</tr>
					<tr>
						<td style="padding-left:60px;">
						<p class="ft1">&bull;&nbsp;&nbsp;<span class="ft16 ng-binding">Freight: </span></p>
						</td>
					</tr>
				</tbody>
			</table>
			</td>
			<td style="padding-top:50px;" width="30%"><!-- ngIf: product_data.product_image -->
			<div class="ng-scope" ng-if="product_data.product_image"><img ng-src="http://localhost/auto_quote/uploads/product_image/Tulips6.jpg" src="http://localhost/auto_quote/uploads/product_image/Tulips6.jpg" style="width:250px; height:200px;" /></div>
			<!-- end ngIf: product_data.product_image --></td>
		</tr>
	</tbody>
</table>
</div>
<!-- end ngRepeat: product_data in product_data --><!-- ngIf: product_data[1] --><!-- end product detail --><!-- ngIf: product_deta[1] -->

<table cellpadding="1" cellspacing="1" style="margin-top:50px;">
	<tbody>
		<tr>
			<td>
			<p class="p25 ft17">Freight</p>
			</td>
		</tr>
		<tr>
			<td colspan="2" style="padding-left:40px; font:13px 'Arial' !important;"><span style="color:red;">&radic; &nbsp;</span>To be confirmed <nobr>Ex-Bundamba</nobr> Qld</td>
		</tr>
		<tr>
			<td>
			<p class="p25 ft17">Availability</p>
			</td>
		</tr>
		<tr>
			<td colspan="2" style="padding-left:40px; font:13px 'Arial' !important;"><span style="color:red;">&radic; &nbsp;</span><nobr>Ex-stock</nobr></td>
		</tr>
		<tr>
			<td>
			<p class="ft17" style="margin:0px; padding:0px;">Proposed Delivery Date:</p>
			</td>
			<td style="text-align:left; padding-top:8px;">TBC</td>
		</tr>
		<tr>
			<td>
			<p class="ft17" style="margin:0px; padding:0px;">Quote Validity:</p>
			</td>
			<td style="text-align:left; padding-top:10px;">30 days</td>
		</tr>
		<tr>
			<td><span class="ft17" style="margin:0px; padding:0px;">Payment Terms: </span></td>
			<td style="text-align:left; padding-top:10px;">Payment required prior to shipping</td>
		</tr>
		<tr>
			<td><span class="ft17" style="margin:0px; padding:0px;">Warranties:</span></td>
			<td style="text-align:left; padding-top:10px;"><nobr>(Ex-Factory /</nobr> Reseller Premises)</td>
		</tr>
		<tr>
			<td style="text-align:right; color:red;">&radic;</td>
			<td style="text-align:left;"><span style="padding:5px;">1 year ThoroughClean Manufacturer&rsquo;s Warranty on build</span></td>
		</tr>
		<tr>
			<td style="text-align:right; color:red;">&radic;</td>
			<td style="text-align:left;"><span style="padding:5px;">5 year ThoroughClean Manufacturer&rsquo;s Structural Warranty on Galvanized frames &amp; Reel</span></td>
		</tr>
		<tr>
			<td style="text-align:right; color:red;">&radic;</td>
			<td style="text-align:left;"><nobr><span style="padding:5px;">2-years</span></nobr> Manufacturer&rsquo;s Warranty on Electric Motors</td>
		</tr>
		<tr>
			<td style="text-align:right; color:red;">&radic;</td>
			<td style="text-align:left;"><nobr><span style="padding:5px;">3-years</span></nobr> or 2000 hours Manufacturer&rsquo;s Warranty on all Petrol and Diesel Engines</td>
		</tr>
		<tr>
			<td style="text-align:right; color:red;">&radic;</td>
			<td style="text-align:left;"><span style="padding:5px;">12 months Warranty on Pressure Pump (Maintenance is not warranty. Excludes service and consumables required at specified maintenance intervals.)</span></td>
		</tr>
	</tbody>
</table>
</div>
</div>
<pagebreak> <!-- product features --> <!--<div ng-repeat="product_features in product_feature">
<div ng-repeat="product_featur in product_features">
<table border="0" cellspacing="5" cellpadding="10" style="margin-bottom:30px;">
<tr><td colspan="2" style="padding-left:250px; margin-bottom:-20px;"> 
<P class="ft24">{{product_featur.catlog_type}} <span id="model_number_{{$index}}">-{{product_featur.product_name}} </span></P>
</td></tr>
<tr><td colspan="2" style="margin:0px; padding:0px;"><hr style="border: 1px #ccc solid; margin:0px;"/></td></tr>
<tr>
<td padding="10" width="30%" style="padding-top:10px;">
<span ng-repeat="img in product_featur.title_image track by $index">
<img ng-src="http://localhost/auto_quote/uploads/title_image/{{img}}" height="200px;" width="150px;" />
</span>
</td>
<td width="65%" style="padding-right:20px; padding-top:0px; padding-left:30px; font:15px;">
<P class="p36 ft24">{{product_featur.catlog_title}}</p>
<<P class="p28 ft25">Features & Benefits:</P>
<script>
var test = '{{product_featur.catlog_description|nl2br}}';
</script>
<P class="p37" style="padding-top:0px; font:15px !important;" id="feature_{{$index}}">{{product_featur.catlog_description|nl2br}}</P>
<span ng-bind-html-unsafe="$eval(product_featur.catlog_description)"></span>
</td>

</tr>
</table>
</div>
</div>-->
<table border="0" cellpadding="10" cellspacing="5" style="margin-bottom:60px;" width="100%">
	<tbody>
		<tr>
			<td colspan="2" style="padding-left:250px; margin-bottom:-20px;">
			<p class="ft24">Boiler</p>
			</td>
		</tr>
		<tr>
			<td colspan="2" style="margin:0px; padding:0px;">
			<hr style="border: 1px #ccc solid; margin:0px;" /></td>
		</tr>
		<tr>
			<td padding="10" style="padding-top:10px;" width="30%"><img src="http://localhost/auto_quote/uploads/title_image/Lighthouse1.jpg" style="display:block; max-width:150px; max-height:150px;" /></td>
			<td style="padding-right:20px; padding-top:0px; padding-left:30px; font:15px;" width="65%">
			<p class="p28 ft25">Features &amp; Benefits:</p>
			<script>
var test = '{{product_featur.catlog_description|nl2br}}';
</script>

			<p class="p37" id="feature_" style="padding-top:0px; font:15px !important;">&bull; Super Heavy duty horizontal diesel boiler with 1/2&quot; mild steel coils, set to 70&deg;C<br />
			&bull; The &frac12;&rdquo; coils have a longer life and has a much reduced rate of scaling up &amp; blockages &ndash; compared to 3/8&rdquo; coils.<br />
			&bull; Fitted with a fuel tap and heavy duty industrial CAV296 fuel filter keeping fuel injectors from blocking up.</p>
			</td>
		</tr>
	</tbody>
</table>

<table border="0" cellpadding="10" cellspacing="5" style="margin-bottom:60px;" width="100%">
	<tbody>
		<tr>
			<td colspan="2" style="padding-left:250px; margin-bottom:-20px;">
			<p class="ft24">Specification</p>
			</td>
		</tr>
		<tr>
			<td colspan="2" style="margin:0px; padding:0px;">
			<hr style="border: 1px #ccc solid; margin:0px;" /></td>
		</tr>
		<tr>
			<td padding="10" style="padding-top:10px;" width="30%"><img src="http://localhost/auto_quote/uploads/title_image/spec3.jpg" style="display:block; max-width:150px; max-height:150px;" /></td>
			<td style="padding-right:20px; padding-top:0px; padding-left:30px; font:15px;" width="65%">
			<p class="p28 ft25">Features &amp; Benefits:</p>
			<script>
var test = '{{product_featur.catlog_description|nl2br}}';
</script>

			<p class="p37" id="feature_" style="padding-top:0px; font:15px !important;">&bull; LubeBuddy will keep the pump well lubricated and prevent oil starvation of the pump<br />
			&bull; Heavy duty galvanised hose reel with a capacity up of to 50m of high pressure hose, integrated into the frame.<br />
			&bull; Automatic low water level shut down.<br />
			&bull; Emergency-Stop<br />
			&bull; Ex Barrier<br />
			&bull; Ex Power Cable &amp; Glands<br />
			&bull; Ex Pressure &amp; Float Switch<br />
			&bull; Designed to meet AS/NZS4233:2</p>
			</td>
		</tr>
	</tbody>
</table>
<pagebreak>
<table border="0" cellpadding="10" cellspacing="5" style="margin-bottom:60px;" width="100%">
	<tbody>
		<tr>
			<td colspan="2" style="padding-left:250px; margin-bottom:-20px;">
			<p class="ft24">Motor / Engine</p>
			</td>
		</tr>
		<tr>
			<td colspan="2" style="margin:0px; padding:0px;">
			<hr style="border: 1px #ccc solid; margin:0px;" /></td>
		</tr>
		<tr>
			<td padding="10" style="padding-top:10px;" width="30%"><img src="http://localhost/auto_quote/uploads/title_image/engine12.jpg" style="display:block; max-width:150px; max-height:150px;" /> <img src="http://localhost/auto_quote/uploads/title_image/engine22.jpg" style="display:block; max-width:150px; max-height:150px;" /> <img src="http://localhost/auto_quote/uploads/title_image/engine32.jpg" style="display:block; max-width:150px; max-height:150px;" /></td>
			<td style="padding-right:20px; padding-top:0px; padding-left:30px; font:15px;" width="65%">
			<p class="p28 ft25">Features &amp; Benefits:</p>
			<script>
var test = '{{product_featur.catlog_description|nl2br}}';
</script>

			<p class="p37" id="feature_" style="padding-top:0px; font:15px !important;">This air cooled engine was specifically chosen for this machine due to it&#39;s reliability and performance, whether it be in the arid parts of Australia or offshore, this engine will keep on running.<br />
			<br />
			&bull; Air Cooled Diesel Engine<br />
			&bull; Push-button electric start<br />
			&bull; Exhaust spark arrestor - AS1019-2000 certified, complies with Mine Spec requirements and allows this pressure cleaner to be legally used on mine sites.<br />
			&bull; Wired to shut down on low tank water level when fitted with an AquaTech, this prevents the pump from cavitation and running dry, which is one of the leading causes of pump failure.<br />
			&bull; 2:1 reduction gearbox between engine and pump, reduces vibrations travelling from the engine to the pump and allows the pump to run at half of the engine speed.<br />
			&bull; Vibration mounted on separate subframe, protects the electrical control box and chassis from long term vibration damage.</p>
			</td>
		</tr>
	</tbody>
</table>

<table border="0" cellpadding="10" cellspacing="5" style="margin-bottom:60px;" width="100%">
	<tbody>
		<tr>
			<td colspan="2" style="padding-left:250px; margin-bottom:-20px;">
			<p class="ft24">Water Tank</p>
			</td>
		</tr>
		<tr>
			<td colspan="2" style="margin:0px; padding:0px;">
			<hr style="border: 1px #ccc solid; margin:0px;" /></td>
		</tr>
		<tr>
			<td padding="10" style="padding-top:10px;" width="30%"><img src="http://localhost/auto_quote/uploads/title_image/AquaTech1.png" style="display:block; max-width:150px; max-height:150px;" /> <img src="http://localhost/auto_quote/uploads/title_image/AquaTech2.jpg" style="display:block; max-width:150px; max-height:150px;" /></td>
			<td style="padding-right:20px; padding-top:0px; padding-left:30px; font:15px;" width="65%">
			<p class="p28 ft25">Features &amp; Benefits:</p>
			<script>
var test = '{{product_featur.catlog_description|nl2br}}';
</script>

			<p class="p37" id="feature_" style="padding-top:0px; font:15px !important;">&bull; The automatic water shutdown comes in 2 forms; on the larger models a stainless steel buffer tank is used, and on the smaller models the AquaTech galvanised water break tank is used, both with a low water level auto engine shut-down float switch, protecting the pump against dry running and extends pump life to the maximum.<br />
			&bull; Super compact design, with the AquaTech design exclusive to ThoroughClean units.<br />
			&bull; Creates a water buffer at start-up when water supply hoses are often empty.</p>
			</td>
		</tr>
	</tbody>
</table>
<pagebreak>
<table border="0" cellpadding="10" cellspacing="5" style="margin-bottom:60px;" width="100%">
	<tbody>
		<tr>
			<td colspan="2" style="padding-left:250px; margin-bottom:-20px;">
			<p class="ft24">By-Pass</p>
			</td>
		</tr>
		<tr>
			<td colspan="2" style="margin:0px; padding:0px;">
			<hr style="border: 1px #ccc solid; margin:0px;" /></td>
		</tr>
		<tr>
			<td padding="10" style="padding-top:10px;" width="30%"><img src="http://localhost/auto_quote/uploads/title_image/ByPassValve1.png" style="display:block; max-width:150px; max-height:150px;" /></td>
			<td style="padding-right:20px; padding-top:0px; padding-left:30px; font:15px;" width="65%">
			<p class="p28 ft25">Features &amp; Benefits:</p>
			<script>
var test = '{{product_featur.catlog_description|nl2br}}';
</script>

			<p class="p37" id="feature_" style="padding-top:0px; font:15px !important;">&bull; Features an Italian made bypass valve<br />
			&bull; Soft acting By-pass valve, which means the pressure comes on gradually &ndash; no kick-back on the gun when you pull the trigger. This makes it safe and seals last longer.<br />
			&bull; Zero pressure stored in hose when trigger is released or unit is switched off. This unique feature makes it safe, and again less wear and tear on by-pass valve, hose and gun seals.<br />
			&bull; By-pass valve is frame mounted not hanging off the pump where it amplifies vibration causing extra stress on the gearbox and drive shafts.</p>
			</td>
		</tr>
	</tbody>
</table>

<table border="0" cellpadding="10" cellspacing="5" style="margin-bottom:60px;" width="100%">
	<tbody>
		<tr>
			<td colspan="2" style="padding-left:250px; margin-bottom:-20px;">
			<p class="ft24">Control Box</p>
			</td>
		</tr>
		<tr>
			<td colspan="2" style="margin:0px; padding:0px;">
			<hr style="border: 1px #ccc solid; margin:0px;" /></td>
		</tr>
		<tr>
			<td padding="10" style="padding-top:10px;" width="30%"><img src="http://localhost/auto_quote/uploads/title_image/Lighthouse1.jpg" style="display:block; max-width:150px; max-height:150px;" /></td>
			<td style="padding-right:20px; padding-top:0px; padding-left:30px; font:15px;" width="65%">
			<p class="p28 ft25">Features &amp; Benefits:</p>
			<script>
var test = '{{product_featur.catlog_description|nl2br}}';
</script>

			<p class="p37" id="feature_" style="padding-top:0px; font:15px !important;">? Marine Grade 316 Stainless Steel Enclosure<br />
			? Start-Push button<br />
			? On-Off switch<br />
			? Hour Meter<br />
			? Engine Fault light<br />
			? Water Fault light<br />
			? Emergency stop</p>
			</td>
		</tr>
	</tbody>
</table>
<pagebreak> <!-- features ended --> <!-- Optinal Extras --> <!--<div ng-if="addons[0].addon_keyword">--> <!-- optinal extras ended --> </pagebreak></pagebreak></pagebreak></pagebreak></div>
</div>
</section>
